body{background-color: brown;text-align:justify; font-size: 18px;}
h1{text-align:center;background-color: powderblue;color: wheat;}
h3{text-align: justify;color: black;}
b{color: powderblue;font-size: 18px;}
i{color: pink;font-size: 18px;}
header, footer{background-color: red;text-align: center;font-size: 20px;}
main{background-color: white;}
.primeiroparagrafo{text-align: justify;font-size: 18px;border:beige solid 2px; padding:10px; margin:10px;}
.segundoparagrafo{text-align: justify;font-size: 18px;border: beige solid 2px;padding:10px;margin: 10px;}
#tituloimagem {width:5%;height:5%;}
#lista {display:inline-block;}